body {
  margin: 0 auto;
  width: 1024px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: #DBDBDB;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}
p {
  margin: 0;
}
input[type=checkbox], input[type=radiobutton] {
  margin: 0;
  vertical-align: middle;
}
h1 {
  margin-top: 0;
  margin-bottom: 4px;
}
h2 {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 21px;
  font-weight: normal;
}
h3 {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: normal;
}
label {
  vertical-align: middle;
}
.button, #MB_window .button {
  background: #690;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 11px;
  font-weight: bold;
  padding: 4px 7px;
  text-align: center;
  text-transform: lowercase;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
input.button[type=submit] {
  border: none;
}
.top {
  background: #303030;
}
.nav {
  color: white;
}
.nav a {
  color: white;
  display: inline;
}
.nav a:hover {
  color: inherit;
  text-decoration: none;
}
.menu {
  float: left;
}
.menu a {
  float: left;
  font-size: 18px;
  font-weight: normal;
  padding: 8px 15px;
  display: block;
  cursor: pointer;
}
.menu a.selected {
  background: #666;
}
.menu .divider {
  float: left;
  background: url('/images/menu_div.gif') repeat-y;
  width: 1px;
  height: 37px;
}
.actions {
  padding-top: 11px;
  padding-right: 16px;
  float: right;
}
.actions {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.actions .links {
  font-weight: bold;
}
.actions .links a {
  margin: 0 4px;
}
.nav {
  background: #303030;
  color: white;
}
#login_box {
  position: absolute;
  padding: 8px 18px;
  margin-top: 4px;
  background: #666;
  border: 1px solid #999;
  font-weight: normal;
}
#login_box p {
  margin-bottom: 6px;
}
#login_box p.last {
  margin-bottom: 0;
}
#login_box p.field {
  text-align: right;
}
#login_box input {
  font-size: 11px;
}
#login_box input[type=submit] {
  margin-left: 10px;
}
#login_box a {
  font-weight: normal;
}
.access_denied {
  color: #800000;
  font-size: 24px;
  padding: 25px;
}
.footer {
  background: white;
  padding: 0 12px 10px;
}
.footer, .footer a {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.footer p {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  margin-right: 10px;
}
body > .content {
  padding: 12px;
  background: white;
}
.hdiv {
  background: url('/images/home_hdiv.gif') repeat-x;
  height: 1px;
}
.vdiv {
  background: url('/images/home_vdiv.gif') repeat-y;
  width: 1px;
}
.item.odd {
  background: #eee;
}

#errorExplanation {
  width: 800px;
  border: 2px solid #ff8080;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #ffd0d0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold !important;
  font-size: 20px !important;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 10px 0px !important;
  color: #833;
}

#errorExplanation p {
  color: #333;
  padding: 10px 15px 5px !important;
  margin: 0px !important;
  font-size: 15px !important;
}

#errorExplanation ul {
  margin: 10px 5px 5px !important;
}

#errorExplanation ul li {
  font-size: 13px;
  list-style: disc;
  margin-left: 10px;
  margin-top: 2px;
}
