a:hover {
  color: #690;
}
.activities {
  float: right;
  width: 188px;
}
.activities h3 {
  font-size: 15px;
  font-weight: normal;
  padding: 0;
  margin-bottom: 10px;
}
.activities .item {
  padding: 10px 0 10px 30px;
  margin-bottom: 4px;
}
.activities .item a {
  font-size: 11px;
  display: block;
}
.main {
  float: left;
  margin-right: 2px;
  width: 800px;
}
.box {
  width: 260px;
  float: left;
  margin-right: 6px;
  margin-bottom: 12px;
}
.box h2 {
  font-size: 17px;
}
.box .part2 a {
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
  color: white;
}
.box a:hover {
  text-decoration: none;
}
.box .part1 {
  height: 6px;
  margin-bottom: 2px;
}
.box .part2 {
  height: 100px;
  padding: 4px 10px;
}
.hdiv {
  width: 792px;
}
.vdiv {
  height: 520px;
  float: left;
}
.featuredMaps {
  margin-top: 6px;
}
.featuredMaps h2 {
  float: left;
  width: 100px;
  padding: 0;
  margin: 0 10px 0 0;
}
.featuredMaps .item {
  float: left;
  width: 218px;
  font-size: 11px;
  margin-right: 10px
}
.featuredMaps .item h3 {
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 0;
}
